{% extends "base.html" %}
{% load static %}
{% block css %}    
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block content %}
{% load crispy_forms_tags %}
<h1 class="add-recipe-h1">Add Recipe</h1>
<!--Create Recipe Form Container-->
<div class="create-recipe-form-container">
    <p class="posting-as">Posting as: {{ user.username }}</p>
    <!--Create Recipe Form-->
    <form method="post" class="form-create-recipe" enctype="multipart/form-data">
        {% csrf_token %}
        {{ recipe_form | crispy }}
        <img src="{{ recipe_form.instance.featured_image.url }}">
        <div class="create-recipe-form-button-container">
            <button type="submit" class="create-recipe-form-button">Submit</button>
            <a class="create-recipe-form-button" href="{%url 'home' %}">Cancel</a>
        </div>  
    </form>
</div>
{% endblock %}