html {
    height: 100%;
  }
  
  body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: "Courier New", Courier, monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  /* from Bulma */
  .icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .logo-font {
    text-transform: uppercase;
  }
  
  .main-logo-link {
    width: fit-content;
  }
  
  .red-button {
    background: #c20005;
    color: white;
  }
  
  .red {
    color: #c20005;
  }
  
  .btn-black {
    background: black;
    color: white;
  }
  
  .btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
  }
  
  .shop-now-button:hover,
  .shop-now-button:active,
  .shop-now-button:focus,
  .btn-black:hover,
  .btn-black:active,
  .btn-black:focus {
    background: #222;
    color: white;
  }
  
  .text-black {
    color: #000 !important;
  }
  
  .border-black {
    border: 1px solid black !important;
  }
  
  .button-container {
    height: 70%;
    margin-top: 15em;
    display: flex;
    justify-content: center;
  }
  
  .button-row {
    background: rgba(251, 199, 14, 0.9);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0em 1em 5em 1em;
    padding: 3em 1.5em 1em 1.5em;
  }
  
  .button-col {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-bg {
    background: #90d2d5;
  }
  
  #topnav {
    background: #90d2d5;
  }
  
  .dropdown-menu {
    background: #90d2d5;
  }
  
  #delivery-banner {
    background: #c20005;
    color: #000;
    padding: 10px;
    text-align: center;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(251, 199, 14, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .add-product-container {
    margin-top: 15em;
    margin-bottom: 5em;
  }
  
  .product-row {
    margin-bottom: 1em;
  }
  
  .products {
    margin-top: 15em;
  }
  
  .single-product {
    font-weight: 1000;
    font-size: 1.5em;
  }
  
  .product-detail-container-fluid {
    padding-bottom: 5em;
  }
  
  .product-details-container {
    padding-top: 1em;
    font-weight: 900;
    font-size: 1.5em;
  }
  
  .product-details h2 {
    font-weight: 900;
  }
  
  .product-image-details {
    padding-top: 12em;
  }
  
  .edit-product-container {
    padding-top: 15em;
    padding-bottom: 15em;
  }
  
  a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
  }
  
  .btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  
  .btt-link {
    cursor: pointer;
  }
  
  .bag-details {
    margin-top: 15em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .price-details {
    display: flex;
    justify-content: flex-end;
  }
  
  .grand-total {
    margin-top: 2em;
  }
  
  /* ------------------------------- bootstrap toasts */
  
  .message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
  }
  
  .custom-toast {
    overflow: visible;
  }
  
  .toast-capper {
    height: 2px;
  }
  
  .table-container {
    background: wheat;
    font-size: .5em;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }

    /* ------------------------------- coupon */
  
  .coupon div {
    max-width: fit-content;
  }
  
  .coupon-container {
    height: auto;
    width: 100%;
  }
  
  .coupon-button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .coupon-button {
    width: 100%;
    background: #117a8b;
  }
  
  .coupon-button .icon {
    height: auto;
    width: auto;
  }
  
  /* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
  }
  
  /* Convenience classes - colors copied from Bootstrap */
  .arrow-primary {
    border-bottom-color: #007bff !important;
  }
  
  .arrow-secondary {
    border-bottom-color: #6c757d !important;
  }
  
  .arrow-success {
    border-bottom-color: #28a745 !important;
  }
  
  .arrow-danger {
    border-bottom-color: #dc3545 !important;
  }
  
  .arrow-warning {
    border-bottom-color: #ffc107 !important;
  }
  
  .arrow-info {
    border-bottom-color: #17a2b8 !important;
  }
  
  .arrow-light {
    border-bottom-color: #f8f9fa !important;
  }
  
  .arrow-dark {
    border-bottom-color: #343a40 !important;
  }
  
  .bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  /* -------------------------------- Footer */

  footer {
    bottom: 0;
    width: 100%;
    background: #90d2d5;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    padding-top: 0;
    margin-top: auto; /* Push the footer to the bottom */
  }
  
  #social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }
  
  #social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #363535;
  }
  
  /* Allauth form formatting */
  
  .allauth-container {
    margin-top: 15em;
  }
  
  .allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
  }
  
  .allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
  }
  
  .allauth-form-inner-content label:not([for="id_remember"]) {
    display: none;
  }
  
  .allauth-form-inner-content input::placeholder {
    color: #aab7c4;
  }
  
  .allauth-form-inner-content button,
  .allauth-form-inner-content input[type="submit"] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
  
    /* standard bootstrap btn transitions */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .allauth-form-inner-content button:hover,
  .allauth-form-inner-content input[type="submit"]:hover {
    color: #000;
  }
  
  .allauth-form-inner-content a {
    color: #17a2b8; /* text-info */
  }
  
  /* Product Form */
  
  .btn-file {
    position: relative;
    overflow: hidden;
  }
  
  .btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
  }
  
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
  }
  
  .deals-button {
    margin-top: 1em;
  }
  
  .display-4 {
    font-size: 1.5em;
  }
  
  .order-number-font-size {
    font-size: 0.75em;
  }

  /* -------------------------------- Checkout */
  
  .StripeElement,
  .stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus,
  .stripe-style-input:focus,
  .stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  
  .stripe-style-input::placeholder {
    color: #aab7c4;
  }
  
  .fieldset-label {
    position: relative;
    right: 0.5rem;
  }
  
  #payment-form .form-control,
  #card-element {
    color: #000;
    border: 1px solid #000;
  }
  
  .form-control {
    border-radius: 0px;
  }
  
  select,
  select option {
    color: #000000;
  }
  
  select:invalid,
  select option[value=""] {
    color: #aab7c4 !important;
  }
  
  #loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, 0.85);
    z-index: 9999;
  }
  
  .loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
  }
  .coupon-column {
    box-shadow: 0px 0px 10px 5px black;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center !important;
    background: wheat;
  }

  .feedback-form {
    padding-bottom: 1em;
  }
  
  /* -------------------------------- Events */
  
  .button-row-event {
    border-radius: 25px;
    background-image: radial-gradient(
      circle,
      #90d2d5,
      #73dbbf,
      #86de8f,
      #b9d852,
      rgba(251, 199, 14, 0.2)
    );
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0em 1em 5em 1em;
    padding: 3em 1.5em 1em 1.5em;
  }
  
  .event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
  }
  .event {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0em 1em 5em 1em;
    padding: 3em 1.5em 1em 1.5em;
    box-shadow: 0px 12px 10px 5px rgba(0, 0, 0, 0.75);
  }
  
  .event-a {
    background-image: radial-gradient(
      circle,
      #b2dfec,
      #aadbf6,
      #add4ff,
      #bacbff,
      #d0c0ff,
      #e3b6f2,
      #f4ade0,
      #ffa5cb,
      #ffacad,
      #ffbe8f,
      #ffd77e,
      #def187
    );
  }
  
  .event-b {
    background-image: radial-gradient(
      circle,
      #9bbae9,
      #88cbe6,
      #94d8d6,
      #b5dfc7,
      #dae4c3
    );
  }
  
  .event-c {
    background-image: radial-gradient(
      circle,
      #d16b81,
      #da787d,
      #e1877a,
      #e5967a,
      #e7a57d,
      #dcb178,
      #ccbd7b,
      #bac886,
      #90cf9d,
      #64d2be,
      #46d0e2,
      #5fcafb
    );
  }
  
  .event-d {
    background-image: radial-gradient(
      circle,
      #81eb6c,
      #b8e368,
      #dcdc72,
      #f3d587,
      #fdd2a0,
      #ffc8a0,
      #ffbfa2,
      #ffb6a6,
      #ff9e9c,
      #ff849b,
      #ff6aa3,
      #f352b2
    );
  }
  
  .edit-delete-event {
    width: fit-content;
    display: flex;
    align-content: center;
    align-items: center;
    height: fit-content;
    margin: 1em 1em 0 1em;
    flex-direction: column;
  }
  
  .add-event-container {
    margin-top: 15em;
    margin-bottom: 5em;
  }
  
  .edit-event-container {
    margin-top: 15em;
    margin-bottom: 5em;
  }
  
  .delete-event-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
    
  
  /* -------------------------------- Feedback */

  .feedback {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  .feedback div {
    max-width: 100%;
    align-items: flex-start;
  }
  
  .feedback-container {
    padding-top: 15em;
    padding-bottom: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feedback-list-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    height: fit-content;
    width: 90%;
    padding: 0 0 0 1em;
    margin-top: 1em;
  }
  
  .feedback-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  
  .feedback-card a {
    color: black;
  }
  
  .feedback .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .feedback .form-group textarea {
    width: 100%;
  }

  /* -------------------------------- Profile */

  .order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
  }

  #profile-update-form .form-control {
      color: #000;
  }

  #profile-update-form input::placeholder {
      color: #aab7c4;
  }

  #id_default_country,
  #id_default_country option:not(:first-child) {
      color: #000;
  }

  #id_default_country option:first-child {
      color: #aab7c4;
  }

  .profile-container {
    margin-top: 15em;
    margin-bottom: 5em;
  }
  

  /* -------------------------------- Media Queries */
  
  /* Media query: large or landscape phones (576px and up) -----------------------------------------------576px----------------------------------------------------------------------- */
  @media screen and (min-width: 576px) {
    body {
      width: auto;
    }
  
    .products {
      margin-top: 10em;
    }
  
    .bag-details {
      margin-top: 8em;
    }
  
    .event-container {
      width: 100%;
    }
  
    .edit-product-container {
      padding-top: 10em;
    }
  
    .edit-event-container {
      margin-top: 10em;
    }
  
    .add-event-container {
      margin-top: 10em;
    }
  
    .add-product-container {
      margin-top: 10em;
    }
  
    .profile-container {
      margin-top: 10em;
    }

    .feedback-container {
      padding-top: 10em;
    }

    .table-container {
      font-size: 1em;
  }
  }
  
/* Media query: tablets and larger (768px and up) ------------------------------------------------------768px----------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
    .product-image-details {
      padding-top: 7em;
    }
  }
  
  /* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
    }
  
    .header-container {
      padding-top: 164px;
    }
  
    .products {
      margin-top: 6em;
    }
  
    .button-container {
      margin-top: 5em;
    }
  
    .product-image-details {
      padding-top: 4em;
    }
  
    .bag-details {
      margin-top: 5em;
    }
  
    .edit-product-container {
      padding-top: 5em;
    }
  
    .order-number-container {
      flex-direction: column;
    }
  
    .coupon-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40%;
    }
  
    .edit-event-container {
      margin-top: 5em;
    }
  
    .add-event-container {
      margin-top: 5em;
    }
  
    .add-product-container {
      margin-top: 5em;
    }
  
    .allauth-container {
      margin-top: 10em;
    }

    .feedback-container {
      padding-top: 5em;
    }

  /* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }

    .table-container {
      font-size: 1.5em;
    }
  }