html {
    height: 100%;
}

body {
    background: url('/media/hazelsnutsaboutvintagehero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #c20005;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.button-container {
    height: 70%;
    border-radius: 10px;
    margin-top: 15em;
    width: min-content;
    display: flex;
    justify-content: center;
}

.button-row {
    background: rgba(251,199,14,.9);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0em 1em 5em 1em;
    padding: 3em 1.5em 1em 1.5em;
}

.button-col{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.navbar-bg {
    background: #90d2d5;
}

#topnav {
    background: #90d2d5;
}

#delivery-banner {     
    background: #c20005;
    color: #000;
    padding: 10px;
    text-align: center;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(251,199,14,.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.product-row{
    margin-bottom: 1em;
}

.products {
    margin-top: 15em;
}

.single-product {
    font-weight: 1000;
    font-size: 1.5em;
}

.product-details-container {
    padding-top: 1em;
    font-weight: 900;
    font-size: 1.5em;
}

.product-details h2 {
    font-weight: 900;
}

.product-image-details {
    padding-top: 12em;
}

/* -------------------------------- Media Queries */

/* Media query: large or landscape phones (576px and up) -----------------------------------------------576px----------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
    .products {
        margin-top: 10em;
    }
    
  }
  
  /* Media query: tablets and larger (768px and up) ------------------------------------------------------768px----------------------------------------------------------------------- */
  @media screen and (min-width: 768px) {
    .product-image-details {
        padding-top: 7em;
    }
  }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .products {
        margin-top: 6em;
    }

    .button-container {
        margin-top: 5em;
    }

    .product-image-details {
        padding-top: 4em;
    }
}
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

