.feedback {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  .feedback div {
    max-width: 100%;
    align-items: flex-start;
  }
  
  .feedback-container {
    padding-top: 15em;
    padding-bottom: 15em;
    display: flex;
    flex-direction: column;
  }
  .feedback-list-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    height: fit-content;
    width: 90%;
    padding: 0 0 0 1em;
    margin-top: 1em;
  }
  
  .feedback-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  
  .feedback-card a {
    color: black;
  }
  
  .feedback .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .feedback .form-group textarea {
    width: 100%;
  }