{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>

    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
        <meta name="description" content="Hazels Nuts About Vintage. Irish vintage clothes shop, based in Killarney, Co. Kerry, Ireland.">
        <meta name="keywords" content="Irish, vintage, clothes, dress, dresses, top, tops, bottoms, new arrivals, clearance, events, sale, Killarney, Kerry, retro">
    {% endblock %}

    <!--Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <style>
            .custom-background {
              background: url('{% static 'images/hazelsnutsaboutvintagehero.jpg' %}') no-repeat center center fixed;
              background-size: cover;
            }
        </style>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Hazel's Nuts about Vintage!{% block extra_title %}{% endblock %}</title>
  </head>
  <body class="custom-background">
    <div class="container button-container coupon-container">
      <div class="row button-row coupon">
        {% for coupon in coupons %}
        <div class="col-7 col-md-6 my-auto button-col">
          <h1 class="logo-font text-black">10% off your next purchase!</h1>
          <div class="my-5">
            <p class="lead text-black">{{ coupon.description }}</p>
            <p>Start Date: {{ coupon.created_on }}</p>
          </div>
          <p>Code: {{ coupon.code }}</p>
        </div>
        {% endfor %} {% for order in orders %}
        <div class="col-7 col-md-6 my-auto button-col">
          <p>Code: {{ order.order_number }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %}
  </head>
</html>
