{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>

    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    <!--Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

 
    <title>Hazel's Nuts about Vintage!{% block extra_title %}{% endblock %}</title>
  </head>
  <body class="custom-background">
    <div class="container button-container coupon-container">
      <div class="row button-row coupon">
        {% for coupon in coupons %}
        <div class="col-7 col-md-6 my-auto button-col">
          <h1 class="logo-font text-black">10% off your next purchase!</h1>
          <div class="my-5">
            <p class="lead text-black">{{ coupon.description }}</p>
            <p>Start Date: {{ coupon.created_on }}</p>
          </div>
          <p>Code: {{ coupon.code }}</p>
        </div>
        {% endfor %} {% for order in orders %}
        <div class="col-7 col-md-6 my-auto button-col">
          <p>Code: {{ order.order_number }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </head>
</html>
